* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
}

.button {
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
    border: none;
}

.button:hover {
    box-shadow: inset 0 0 1rem #666565;
}

.container {
    width: 70%;
    margin: 5rem auto;
    padding: 1rem 0 1rem 1rem;
    height: 70%;
    text-align: center;
}

.box {
    width: calc(6.25% - 0.5rem);
    aspect-ratio: 1;
    flex: 0 0 auto;
}

.border-grey {
    border: 5px solid rgb(151, 146, 146);
}

.border-round-2rem {
    border-radius: 2rem
}

.bg-pastel-blue {
    background-color: rgb(231, 243, 248);
}

.bg-pastel-pink {
    background-color: rgb(248, 208, 215);
}

.bg-pastel-green {
    background-color: rgb(180, 212, 180);
}

.container-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}