* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    height: 100vh;
    width: 100vw;
}

.button {
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
    border: none;
}

.button:hover {
    box-shadow: inset 0 0 1rem #666565;
}

.container {
    margin: 0.5rem auto;
    padding: 1rem;
    text-align: center;
    padding: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sketchpad {
    height: 70%;
    aspect-ratio: 1;
}

.box {
    aspect-ratio: 1;
    flex: 0 0 auto;
}

.border-grey {
    border: 5px solid rgb(151, 146, 146);
}

.border-round-2rem {
    border-radius: 2rem
}

.bg-pastel-blue {
    background-color: rgb(231, 243, 248);
}

.bg-pastel-pink {
    background-color: rgb(248, 208, 215);
}

.bg-pastel-green {
    background-color: rgb(180, 212, 180);
}

.container-flex {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

.container-text {
    margin: auto;
    font-size: 6rem;
}

@media (max-width: 800px) {
    .container {
        width: 70%;
    }

    .sketchpad {
        height: auto;
    }

    .button {
        font-size: 0.7rem;
    }

    .container-text {
        font-size: 2rem;
    }
}

@media (max-width: 400px) {
    .button {
        font-size: 0.5rem;
    }

    .container-text {
        font-size: 1.2rem;
    }
}